<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PosTaggerModel" value="C:\SowaLabs\Detextive\TaggerFeb2012_new.bin"/>
    <add key="LemmatizerModel" value="C:\SowaLabs\Detextive\LemmatizerFeb2012_new.bin"/>
    <add key="DataFolder" value="C:\SowaLabs\Detextive\trenirke"/>
    <add key="DataEncoding" value="Windows-1250"/>
    <add key="OutputPath" value="C:\SowaLabs\Detextive\output"/>
    <add key="FrequentWordsWeightType" value="tf"/>
    <add key="NumFrequentWords" value="100"/>
    <add key="FrequentLemmasWeightType" value="tf"/>
    <add key="NumFrequentLemmas" value="100"/>
    <add key="FunctionWordsWeightType" value="tf"/>
    <add key="CharNGramsWeightType" value="tf"/>
    <add key="CharNGramsMaxLen" value="3"/>
    <add key="VectorItemsListSize" value="100"/>
  </appSettings>
</configuration>