body { background-color: lightgray; margin: 0; }
div.inner { width: 800px; margin-left: auto; margin-right: auto; background-color: white; padding: 25px; }
span.token { display: inline-block; border: 1px solid silver; border-radius: 2px; }
span.sentence { display: block; margin-bottom: 15px; }
div.para { border: 1px solid green; }
.table { width: auto; }
.back { text-align: right; }