<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Osnovne nastavitve -->
    <add key="UnknownAuthor" value="Majer"/>
    <add key="DataFolder" value="C:\Work\Detextive\input"/>
    <add key="DataEncoding" value="Windows-1250"/>
    <add key="OutputPath" value="C:\Work\Detextive\output"/>
    <add key="OutputFile" value="C:\Work\Detextive\output\table.tsv.txt"/>
    <!-- Nastavitve za napredne uporabnike -->
    <add key="PosTaggerModel" value="C:\Work\Detextive\TaggerFeb2012_new.bin"/>
    <add key="LemmatizerModel" value="C:\Work\Detextive\LemmatizerFeb2012_new.bin"/>
    <add key="WeightType_frw" value="logRel"/>    
    <add key="WeightType_frl" value="logRel"/>    
    <add key="WeightType_fuw" value="logRel"/>
    <add key="WeightType_cng" value="logRel"/>
    <add key="WeightType_pos" value="logRel"/>
    <add key="PosTagsMaxSeqLen" value="2"/>
    <add key="CharNGramsMaxLen" value="3"/>
    <add key="VectorItemsListSize" value="100"/>
    <add key="SvmMultiClassC" value="20000"/>
    <add key="NumFrequentWords" value="100"/>
    <add key="NumFrequentLemmas" value="100"/>
  </appSettings>
</configuration>  